<main class="contenedor mt-5">
  <h2>Conoce nuestros 3 Modelos</h2>

  <div class="modelo basico">
    <div class="contenido-modelo">
      <h3>Modelo Basico</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
        asperiores dolores fugit obcaecati minima. Accusantium perspiciatis
        animi magnam nostrum beatae ratione doloremque impedit officiis rem
        repellendus, eius quasi dignissimos ipsa?
      </p>
      <a
        href="#"
        class="btn"
        >Más Información</a
      >
    </div>
  </div>

  <div class="modelo premier">
    <div class="contenido-modelo">
      <h3>Modelo Premier</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
        asperiores dolores fugit obcaecati minima. Accusantium perspiciatis
        animi magnam nostrum beatae ratione doloremque impedit officiis rem
        repellendus, eius quasi dignissimos ipsa?
      </p>
      <a
        href="#"
        class="btn"
        >Más Información</a
      >
    </div>
  </div>

  <div class="modelo elite">
    <div class="contenido-modelo">
      <h3>Modelo Elite</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
        asperiores dolores fugit obcaecati minima. Accusantium perspiciatis
        animi magnam nostrum beatae ratione doloremque impedit officiis rem
        repellendus, eius quasi dignissimos ipsa?
      </p>
      <a
        href="#"
        class="btn"
        >Más Información</a
      >
    </div>
  </div>
</main>

<style>
  .modelo {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-repeat: no-repeat;
    background-position: bottom center;
    margin-bottom: 5rem;
  }

  .modelo:last-of-type {
    margin-bottom: 0;
  }
  
  @media (min-width: 768px) {
    .modelo {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .contenido-modelo {
    padding: 5rem;
    background-color: var(--blanco);
  }

  .basico {
    background-image: url(/img/modelo_basico.jpg);
  }

  @media (min-width: 768px) {
    .basico {
      background-position: top right;
    }

    .basico .contenido-modelo {
      grid-row: 2/3;
      padding: 2rem 2rem 2rem 0;
    }
  }

  .premier {
    background-image: url(/img/modelo_premier.jpg);
  }

  @media (min-width: 768px){
    .premier {
      background-position: top left;
    }

    .premier .contenido-modelo {
      grid-column: 2 /3;
      padding: 2rem;
    }
  }
  
  .elite {
    background-image: url(/img/modelo_elite.jpg);
  }

  @media (min-width: 768px){
    .elite {
      background-position: top right;
    }

    .elite .contenido-modelo{
      padding: 2rem 2rem 2rem 0;
    } 
  }
  
</style>
