<section class="contenedor mt-5 nosotros">
  <div class="contenido-nosotros">
    <h2>Sobre Nosotros</h2>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
      excepturi dolorum quis enim autem eius commodi. Porro sequi ad maiores,
      ullam nesciunt iusto assumenda, voluptatibus perspiciatis molestias
      tempora veniam nostrum.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
      excepturi dolorum quis enim autem eius commodi. Porro sequi ad maiores,
      ullam nesciunt iusto assumenda, voluptatibus perspiciatis molestias
      tempora veniam nostrum.
    </p>
  </div>
</section>

<style>
  .nosotros {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-image: url(/img/nosotros.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
  }

  @media (min-width: 992px){
    .nosotros {
      grid-template-columns: repeat(3,1fr);

    }
  }

  .contenido-nosotros {
    background-color: var(--blanco);
    padding: 5rem;
  }

  @media (min-width: 992px){
    .contenido-nosotros {
      grid-column: 2/4;
    }
  }

  .contenido-nosotros h2,
  .contenido-nosotros p {
    margin-bottom: 1rem;
  }
</style>
